node_modules/
dist/
.nx/
.angular/
src-tauri/target/
src-tauri/gen/schemas/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/app/.cxx/
src-tauri/gen/android/local.properties
src-tauri/binaries/*-msvc.exe
src-tauri/binaries/WebView2Loader.dll
*.log
*.exe
.env
.DS_Store
Thumbs.db
